<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css"/>
    <title>Framgentación de Datagramas</title>
    <script src="../js/index.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <div>
                <h4>Fragmentación de datagramas</h4>
            </div>
        </nav>
    </header>
    <div class="body">
        <form id="form-input-data" class="form-input">
            <input type="text" id="mtu" class="form-text">
            <label for="mtu" class="form-label" > Unidad Máxima de Transferencia</label>
            <input type="text" id="datagram-length" class="form-text" required>
            <label for="datagram-length" class="form-label"> Longitud del Datagrama</label>
            <input type="text" class="form-text" id="source-IP" required>
            <label for="source-IP" class="form-label">Dirección IP Origen</label>
            <input type="text" class="form-text" id="destination-IP" required>
            <label for="destination-IP" class="form-label">Dirección IP Destino</label>
            <div>
                <label for="top-level-protocol"> Protocolo de Nivel Superior</label>
                <input type="radio" id="ICMP" class="radio" name="top-level-protocol" value="ICMP">
                <label for="ICMP">ICMP</label>
                <input type="radio" id="TCP" class="radio" name="top-level-protocol" value="TCP">
                <label for="TCP">TCP</label>
                <input type="radio" id="ICMP" class="radio" name="top-level-protocol" value="UDP">
                <label for="UDP">UDP</label>
            </div>
            <button class="btn">Analizar</button>
        </form>
        

    </div>
    
</body>

</html>